@import "tailwindcss";

@theme inline {
  --font-mulish: var(--font-mulish) --font-mulish: var(--font-geist-mono);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  border: inherit;
}